/* common */
/* small screen */

.main {
    max-width: 600px;
    margin: 0 auto;
    font-size: 10px;
}

h1 {
    font-size: 210%;
    border-bottom: 1px solid;
    padding: 16px 16px;
    /* margin-top: 25px; */
    text-align: center;
    margin-bottom: 30px;
}

.inner {
    width: 90%;
    margin: 0 auto;
}

dl {
    margin: 0;
}

dl > div {
    margin: 10px ;
    border: 1px solid;
}

dt {
    padding: 30px;
    font-size: 130%;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
    position: relative;
}

/* dt::before {
    content: "+ ";
} */

dt::after {
    content: '+ ';
    position: absolute;
    top: 30px;
    right: 40px;
    transition: transform .5s;
}

dl > div.appear dt::after {
    transform: rotate(45deg);
}

h3 {
    margin-left: 20px;
    padding: 5px;
}

dd {
    padding: 5px;
    margin-left: 20px;
    font-size: 140%;
    /* margin: 0; */
    /* display: none; */
}

dd::before {
    margin-left: 20px;
    /* content: '・ '; */
}

p {
    font-size: 120%;
    margin-left: 20px;
    padding-left: 15px;
}

.menu_detail {
    display: none;
    margin: 15px 20px;
    border-top: 1px solid;
    padding-top: 15px;
}

dl > div.appear .menu_detail {
    display: block;
}

/* large screen */
@media (min-width: 800px) {

.main {
    max-width: 800px;
    margin: 0 auto;
    font-size: 15px;
}

dd {
    padding: 5px;
    margin-left: 20px;
    font-size: 120%;
    /* margin: 0; */
    /* display: none; */
}

p {
    font-size: 100%;
    margin-left: 20px;
    padding-left: 15px;
}

        
}

